@{
    ViewBag.Title = "Descarga Exportacao Itens";
}
@model Band.Coletor.Redex.Site.Models.DescargaExportacao.DescargaExportacaoViewModel
<div>
    <div class="row padding-bottom">
        <div class="col-md-12">
            <h4>
                <i class="fas fa-truck fa-lg"></i>
                @ViewBag.Title
            </h4>
        </div>
    </div>
    <!--FORM-->
    <form method="post" action="@Url.Action("Buscar", "DescargaExportacao")">
        <div class="row padding-bottom">
            <div class="form-group col-sm-4">
                <label for="cbItensDescarregados">ITENS DESCARREGADOS:</label>
                <select id="cbItensDescarregados" class="form-control">
                    @*@foreach (var item in Model.Itens)
                        {
                            <option value="@item.CodigoItem">@item.Descricao</option>
                        }*@
                </select>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="form-group col-md-3">
                <label for="notafiscal">NOTA FISCAL</label>
                <input type="text" class="form-control" id="numeroNotaFiscal" name="numeroNotaFiscal" placeholder="Digite a nota fiscal">
            </div>
            <div class="form-group col-md-3">
                <label for="quantidade">QUANTIDADE</label>
                <input type="text" class="form-control" id="quantidade" name="quantidade" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="codigo_embalagem">COD. EMBALAGEM</label>
                <input type="text" class="form-control" id="codigo_embalagem" name="codigo_embalagem" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="dc_embalagem">DC. EMBALAGEM</label>
                <input type="text" class="form-control" id="dc_embalagem" name="dc_embalagem" disabled>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="form-group col-md-3">
                <label for="cla">CLA</label>
                <input type="text" class="form-control" id="cla" name="cla">
            </div>
            <div class="form-group col-md-3">
                <label for="cla_1">-</label>
                <input type="text" class="form-control" id="cla_1" name="cla_1" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="cla_2">-</label>
                <input type="text" class="form-control" id="cla_2" name="cla_2" disabled>
            </div>
            <div class="col-sm-1 form-group mt-5">
                <input type="checkbox" id="chkMadeiraInd" />
                <label for="chkMadeiraInd">Madeira</label>
            </div>
            <div class="col-sm-1 form-group mt-5">
                <input type="checkbox" id="chkFragil" />
                <label for="chkFragil">Fragil</label>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="form-group col-md-3">
                <label for="peso">PESO</label>
                <input type="text" class="form-control" id="peso" name="peso">
            </div>
            <div class="form-group col-md-3">
                <label for="imo">IMO</label>
                <input type="text" class="form-control" id="imo" name="imo" disabled>
            </div>
            <div class="form-group col-md-2">
                <label for="imo_1">-</label>
                <input type="text" class="form-control" id="imo_1" name="imo_1" disabled>
            </div>
            <div class="form-group col-md-2">
                <label for="imo_2">-</label>
                <input type="text" class="form-control" id="imo_2" name="imo_2" disabled>
            </div>
            <div class="form-group col-md-2">
                <label for="imo_3">-</label>
                <input type="text" class="form-control" id="imo_3" name="imo_3" disabled>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="form-group col-md-3">
                <label for="uno">UNO</label>
                <input type="text" class="form-control" id="uno" name="uno">
            </div>
            <div class="form-group col-md-3">
                <label for="uno_1">-</label>
                <input type="text" class="form-control" id="uno_1" name="uno_1" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="uno_2">-</label>
                <input type="text" class="form-control" id="uno_2" name="uno_2" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="uno_3">-</label>
                <input type="text" class="form-control" id="uno_3" name="uno_3" disabled>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="form-group col-md-3">
                <label for="remonte">REMONTE</label>
                <input type="text" class="form-control" id="remonte" name="remonte">
            </div>
            <div class="form-group col-md-3">
                <label for="fumigacao">FUMIGACAO</label>
                <input type="text" class="form-control" id="fumigacao" name="fumigacao" disabled>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="form-group col-md-6">
                <button type="button" id="btnBuscarNotaFiscal" data-url="@Url.Action("BuscarNotaFiscal", "DescargaExportacao")" class="btn btn-primary btn-block">Buscar</button>
            </div>
            <div class="form-group col-md-6">
                <button type="reset" class="btn btn-secondary btn-block">Abrir</button>
            </div>
        </div>
    </form>
</div>


<footer class="fixed-bottom bg-light py-3">
    <div class="container d-flex flex-wrap justify-content-start">


        <a id="lnkExcluir" href="#" class="btn btn-warning flex-grow-1 mx-1 my-1">
            <span aria-hidden="true" class="fa fa-trash-alt"></span>&nbsp;&nbsp;Excluir
        </a>

        <a id="lnkCancelar" href="#" class="btn btn-warning flex-grow-1 mx-1 my-1">
            <span aria-hidden="true" class="fa fa-window-close"></span>&nbsp;&nbsp;Cancelar
        </a>

        <a id="lnkGravar" href="#" class="btn btn-warning flex-grow-1 mx-1 my-1">
            <span aria-hidden="true" class="fa fa-check"></span>&nbsp;&nbsp;Gravar
        </a>

        <a id="lnkAvarias" href="#" class="btn btn-warning flex-grow-1 mx-1 my-1">
            <span aria-hidden="true" class="fa fa-window-close"></span>&nbsp;&nbsp;Avarias
        </a>

        <a id="lnkVoltar" href="@Url.Action("Index", "DescargaExportacao")" class="btn btn-warning flex-grow-1 mx-1 my-1">
            <span aria-hidden="true" class="fa fa-window-close"></span>&nbsp;&nbsp;Voltar
        </a>

    </div>
</footer>

@section Scripts {
    @Scripts.Render("~/bundles/descargaExportacaoItens")

}

<script>
    const codigoRegistro = @Model.Registro.CodigoRegistro;
    @*//const codigoBooking = @Model.CodigoBooking;*@
</script>
