@{
    ViewBag.Title = "Descarga Exportacao";
}
@model Band.Coletor.Redex.Site.Models.DescargaExportacao.DescargaExportacaoViewModel
<div>
    <div class="row padding-bottom">
        <div class="col-md-12">
            <h4>
                <i class="fas fa-truck fa-lg"></i>
                Descarga Exportacao
            </h4>
        </div>
    </div>
    <!--FORM-->
    <form id="formTalie" method="post" action="@Url.Action("Buscar", "DescargaExportacao")">
        <div class="row padding-bottom">
            <div class="form-group col-md-3">
                <label for="registro">REGISTRO</label>
                <input type="text" class="form-control" id="registro" name="registro" value="@Model.Registro.CodigoRegistro" placeholder="Digite o registro">
            </div>
            <div class="form-group col-md-3">
                <label for="inicio">INICIO</label>
                <input type="datetime-local" class="form-control" id="inicio" name="inicio" value="@Model.Registro.Talie?.Inicio ?? ''" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="termino">TERMINO</label>
                <input type="datetime-local" class="form-control" id="termino" name="termino" value="@Model.Registro.Talie?.Termino ?? ''" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="talie">TALIE</label>
                <input type="text" class="form-control" id="talie" name="codigoTalie" value="@Model.Registro.Talie?.Id ?? ''" disabled>
            </div>
        </div>

        <div class="row padding-bottom">
            <div class="form-group col-md-3">
                <label for="placa">PLACA</label>
                <input type="text" class="form-control" id="placa" name="placa" placeholder="Digite a placa" value="@Model.Registro.Placa" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="reserva">RESERVA</label>
                <input type="text" class="form-control" id="reserva" name="reserva" placeholder="Digite a reserva" value="@Model.Registro.Reserva" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="cliente">CLIENTE</label>
                <input type="text" class="form-control" id="cliente" name="cliente" placeholder="Digite o cliente" value="@Model.Registro.Cliente" disabled>
            </div>
        </div>

        <div class="row padding-bottom">
            <div class="form-group col-md-6">
                <button type="button" onclick="CarregarRegistro()" class="btn btn-primary btn-block">Buscar</button>
            </div>
            <div class="form-group col-md-6">
                <button type="reset" class="btn btn-secondary btn-block">Restaurar Dados</button>
            </div>
        </div>
        <!--Combobox conferente, equipe, operacao-->
        <div class="row padding-bottom">
            <div class="form-group col-sm-4">
                @Html.Partial("~/Views/Shared/Components/Selects/component_coletor_select.cshtml", new ComponentColetorSelectModel
                {
                    Id = "cbConferente",
                    Name = "conferente",
                    Descricao = "Selecione o Conferente",
                    Value = @Model.Registro.Talie?.Conferente,
                    Disabled = false,
                    Options = Model.Conferentes.Select(e => new SelectOption
                    {
                        Value = e.Id,
                        Text = e.Descricao
                    }).ToList()
                })
            </div>
            <div class="form-group col-sm-4">
                @Html.Partial("~/Views/Shared/Components/Selects/component_coletor_select.cshtml", new ComponentColetorSelectModel
                {
                    Id = "cbEquipe",
                    Name = "equipe",
                    Descricao = "Selecione a Equipe",
                    Value = Model.Registro.Talie?.Equipe,
                    Disabled = false,
                    Options = Model.Equipes.Select(e => new SelectOption
                    {
                        Value = e.Id,
                        Text = e.Descricao
                    }).ToList()
                })
            </div>
            <div class="form-group col-sm-4">
                @Html.Partial("~/Views/Shared/Components/Selects/component_coletor_select.cshtml", new ComponentColetorSelectModel
                {
                    Id = "cbOperacao",
                    Name = "operacao",
                    Descricao = "Selecione a Operacao",
                    Value = Convert.ToInt32(@Model.Registro.Talie?.Operacao),
                    Disabled = false,
                    Options = Model.Operacoes.Select(e => new SelectOption
                    {
                        Value = e.Id,
                        Text = e.Descricao
                    }).ToList()
                })
            </div>
        </div>
    </form>

    <pre id="formModel"></pre>

    <!--Tabela de itens-->
    <div class="table-responsive">
        <table id="tabelaItens" class="table table-striped table-bordered">
            <thead class="">
                <tr>
                    <th>NF</th>
                    <th>Item</th>
                    <th>Embalagem</th>
                    <th>Quantidade NF</th>
                    <th>Quantidade Descarga</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <!-- As linhas serão adicionadas dinamicamente -->
            </tbody>
        </table>
    </div>


</div>
<!--MODAL OBS-->
<div class="modal fade" id="observacaoModal" tabindex="-1" role="dialog" aria-labelledby="observacaoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="observacaoModalLabel">Adicionar Observação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formObservacao">
                    <div class="form-group">
                        <label for="observacaoInput">Observação</label>
                        <textarea id="observacaoInput" class="form-control" rows="4" placeholder="Digite sua observação aqui"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" id="salvarObservacao" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>

<!-- Footer com botões -->
<footer class="fixed-bottom bg-light py-3">
    <div class="container d-flex flex-wrap justify-content-start">
        <a id="lnkObservacao" href="#" class="btn btn-warning flex-grow-1 mx-1 my-1" data-toggle="modal" data-target="#observacaoModal">
            <span aria-hidden="true" class="fa fa-sticky-note"></span>&nbsp;&nbsp;Observacao
        </a>


        <a id="lnkCancelar" href="#" class="btn btn-warning flex-grow-1 mx-1 my-1">
            <span aria-hidden="true" class="fa fa-window-close"></span>&nbsp;&nbsp;Cancelar
        </a>

        <a id="lnkGravar" href="#" data-url="@Url.Action("GravarTalie", "DescargaExportacao")" class="btn btn-warning flex-grow-1 mx-1 my-1">
            <span aria-hidden="true" class="fa fa-check"></span>&nbsp;&nbsp;Gravar
        </a>

        <a id="lnkMarcantes" href="@Url.Action("DescargaExportacaoMarcantes", "DescargaExportacao")" class="btn btn-warning flex-grow-1 mx-1 my-1">
            <span aria-hidden="true" class="fa fa-sort-numeric-up"></span>&nbsp;&nbsp;Marcantes
        </a>

        <a id="lnkAvarias" href="#" class="btn btn-warning flex-grow-1 mx-1 my-1">
            <span aria-hidden="true" class="fa fa-window-close"></span>&nbsp;&nbsp;Avarias
        </a>

        <a id="lnkExcluir" href="#" class="btn btn-warning flex-grow-1 mx-1 my-1">
            <span aria-hidden="true" class="fa fa-trash-alt"></span>&nbsp;&nbsp;Excluir
        </a>

        <a id="lnkFinalizar" href="#" class="btn btn-warning flex-grow-1 mx-1 my-1">
            <span aria-hidden="true" class="fa fa-check"></span>&nbsp;&nbsp;Finalizar
        </a>

        @*<a id="lnkProximo" href="@Url.Action("DescargaExportacaoItens", "DescargaExportacao")" class="btn btn-warning flex-grow-1 mx-1 my-1">
            <span aria-hidden="true" class="fa fa-chevron-right"></span>&nbsp;&nbsp;Próximo
        </a>*@

        <a id="lnkHome" href="@Url.Content("~/Home")" class="btn btn-warning flex-grow-1 mx-1 my-1">
            <span aria-hidden="true" class="fa fa-home"></span>&nbsp;&nbsp;Home
        </a>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function CarregarRegistro() {
        var registro = $("#registro").val();

        $.ajax({
            url: '/DescargaExportacao/CarregarRegistro',
            type: 'GET',
            data: { codigoRegistro: registro },
            success: function (response) {
                // Preencher os campos do formulário com os dados retornados
                formModel.codigoRegistro = response?.CodigoRegistro || '';
                formModel.inicio = formatarDataParaInput(response?.Talie?.Inicio) || '';
                document.getElementById('inicio').value = formModel.inicio;

                formModel.termino = formatarDataParaInput(response?.Talie?.Termino) || '';
                formModel.equipe = response?.Talie?.Equipe || '';
                formModel.conferente = response?.Talie?.Conferente || '';
                formModel.operacao = response?.Talie?.Operacao || '';
                formModel.placa = response?.Placa || '';
                formModel.reserva = response?.Reserva || '';
                formModel.codigoTalie = response?.Talie?.Id || '';
                formModel.cliente = response?.Cliente || '';

                document.getElementById('observacaoInput').value = response?.Talie?.Observacao;

                setComboBoxValue("cbOperacao", response?.Talie?.Operacao);

                preencherFormularioComModel();
                verificarCondicaoParaProximo();

                const tabela = document.querySelector('#tabelaItens tbody');

                // Limpa a tabela antes de adicionar novos itens
                tabela.innerHTML = '';
                console.log(response.Talie.TalieItem);
                // Itera sobre os itens e adiciona as linhas na tabela
                if (response.Talie.TalieItem != null) {
                    let itens = response.Talie.TalieItem;
                    itens.forEach(item => {
                        const linha = `
                                    <tr>
                                        <td>${item.NF || ''}</td>
                                        <td>${item.Id || ''}</td>
                                        <td>${item.Embalagem || ''}</td>
                                        <td>${item.QtdNf || 0}</td>
                                        <td>${item.QtdDescarga || 0}</td>
                                        <td class="text-center">
                                            <button class="btn btn-sm btn-primary" title="Editar">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button class="btn btn-sm btn-danger" title="Excluir">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                `;
                        tabela.innerHTML += linha;
                    });
                }

                //popularTabelaItens(response.Talie?.TalieItem);
            },
            error: function (xhr, status, error) {
                console.error("Erro ao obter dados do Talie:", error);
                alert("Ocorreu um erro ao buscar os dados. Verifique o console para mais detalhes.");
            }
        });
    }

    function popularTabelaItens(itens) {
        // Seleciona o tbody da tabela pelo ID
        const tabela = document.querySelector('#tabelaItens tbody');

        // Limpa a tabela antes de adicionar novos itens
        tabela.innerHTML = '';

        // Itera sobre os itens e adiciona as linhas na tabela
        if (itens.lenght > 0 && itens != null) {
            itens.forEach(item => {
                const linha = `
            <tr>
                <td>${item.NF || ''}</td>
                <td>${item.Id || ''}</td>
                <td>${item.Embalagem || ''}</td>
                <td>${item.QtdNf || 0}</td>
                <td>${item.QtdDescarga || 0}</td>
                <td class="text-center">
                    <button class="btn btn-sm btn-primary" title="Editar">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-sm btn-danger" title="Excluir">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        `;
                tabela.innerHTML += linha;
            });
        }

    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/descargaExportacao")

}

