@{
    ViewBag.Title = "Descarga Exportacao";
}
@model Band.Coletor.Redex.Site.Models.DescargaExportacao.DescargaExportacaoViewModel
<div>
    <div class="row padding-bottom">
        <div class="col-md-12">
            <h4>
                <i class="fas fa-truck fa-lg"></i>
                Descarga Exportacao
            </h4>
        </div>
    </div>
    <!--FORM-->
    <form id="formTalie" method="post" action="@Url.Action("Buscar", "DescargaExportacao")">
        <div class="row padding-bottom">
            <div class="form-group col-md-3">
                <label for="registro">REGISTRO</label>
                <input type="text" class="form-control" id="registro" name="registro" placeholder="Digite o registro">
            </div>
            <div class="form-group col-md-3">
                <label for="inicio">INICIO</label>
                <input type="datetime-local" class="form-control" id="inicio" name="inicio" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="termino">TERMINO</label>
                <input type="datetime-local" class="form-control" id="termino" name="termino" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="talie">TALIE</label>
                <input type="text" class="form-control" id="talie" name="codigoTalie" placeholder="Digite o TALIE" disabled>
            </div>
        </div>

        <div class="row padding-bottom">
            <div class="form-group col-md-3">
                <label for="placa">PLACA</label>
                <input type="text" class="form-control" id="placa" name="placa" placeholder="Digite a placa" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="reserva">RESERVA</label>
                <input type="text" class="form-control" id="reserva" name="reserva" placeholder="Digite a reserva" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="cliente">CLIENTE</label>
                <input type="text" class="form-control" id="cliente" name="cliente" placeholder="Digite o cliente" disabled>
            </div>
        </div>

        <div class="row padding-bottom">
            <div class="form-group col-md-6">
                <button type="button" onclick="obterDadosTalie()" class="btn btn-primary btn-block">Buscar</button>
            </div>
            <div class="form-group col-md-6">
                <button type="reset" class="btn btn-secondary btn-block">Restaurar Dados</button>
            </div>
        </div>
        <!--Combobox conferente, equipe, operacao-->
        <div class="row padding-bottom">
            <div class="form-group col-sm-4">
                @Html.Partial("~/Views/Shared/Components/Selects/component_coletor_select.cshtml", new ComponentColetorSelectModel
                {
                    Id = "cbConferente",
                    Name = "conferente",
                    Descricao = "Selecione o Conferente",
                    Value = "0",
                    Disabled = false,
                    Options = Model.Conferentes.Select(e => new SelectOption
                    {
                        Value = e.Id.ToString(),
                        Text = e.Descricao
                    }).ToList()
                })
            </div>
            <div class="form-group col-sm-4">
                @Html.Partial("~/Views/Shared/Components/Selects/component_coletor_select.cshtml", new ComponentColetorSelectModel
                {
                    Id = "cbEquipe",
                    Name = "equipe",
                    Descricao = "Selecione a Equipe",
                    Value = "0",
                    Disabled = false,
                    Options = Model.Equipes.Select(e => new SelectOption
                    {
                        Value = e.Id.ToString(),
                        Text = e.Descricao
                    }).ToList()
                })
            </div>
            <div class="form-group col-sm-4">
                @Html.Partial("~/Views/Shared/Components/Selects/component_coletor_select.cshtml", new ComponentColetorSelectModel
                {
                    Id = "cbOperacao",
                    Name = "operacao",
                    Descricao = "Selecione a Equipe",
                    Value = "0",
                    Disabled = false,
                    Options = Model.Operacoes.Select(e => new SelectOption
                    {
                        Value = e.Id.ToString(),
                        Text = e.Descricao
                    }).ToList()
                })
            </div>
        </div>
    </form>
    <pre id="formModel"></pre>
</div>
<!-- Footer com botões -->
<footer class="fixed-bottom bg-light py-3">
    <div class="container d-flex flex-wrap justify-content-start">
        <a id="lnkObservacao" href="#" class="btn btn-warning flex-grow-1 mx-1 my-1">
            <span aria-hidden="true" class="fa fa-sticky-note"></span>&nbsp;&nbsp;Observacao
        </a>

        <a id="lnkCancelar" href="#" class="btn btn-warning flex-grow-1 mx-1 my-1">
            <span aria-hidden="true" class="fa fa-window-close"></span>&nbsp;&nbsp;Cancelar
        </a>

        <a id="lnkGravar" href="#"  data-url="@Url.Action("GravarTalie", "DescargaExportacao")" class="btn btn-warning flex-grow-1 mx-1 my-1">
            <span aria-hidden="true" class="fa fa-check"></span>&nbsp;&nbsp;Gravar
        </a>

        <a id="lnkMarcantes" href="#" class="btn btn-warning flex-grow-1 mx-1 my-1">
            <span aria-hidden="true" class="fa fa-sort-numeric-up"></span>&nbsp;&nbsp;Marcantes
        </a>

        <a id="lnkAvarias" href="#" class="btn btn-warning flex-grow-1 mx-1 my-1">
            <span aria-hidden="true" class="fa fa-window-close"></span>&nbsp;&nbsp;Avarias
        </a>

        <a id="lnkExcluir" href="#" class="btn btn-warning flex-grow-1 mx-1 my-1">
            <span aria-hidden="true" class="fa fa-trash-alt"></span>&nbsp;&nbsp;Excluir
        </a>

        <a id="lnkFinalizar" href="#" class="btn btn-warning flex-grow-1 mx-1 my-1">
            <span aria-hidden="true" class="fa fa-check"></span>&nbsp;&nbsp;Finalizar
        </a>

        <a id="lnkProximo" href="@Url.Action("DescargaExportacaoItens", "DescargaExportacao")" class="btn btn-warning flex-grow-1 mx-1 my-1">
            <span aria-hidden="true" class="fa fa-chevron-right"></span>&nbsp;&nbsp;Próximo
        </a>

        <a id="lnkHome" href="@Url.Content("~/Home")" class="btn btn-warning flex-grow-1 mx-1 my-1">
            <span aria-hidden="true" class="fa fa-home"></span>&nbsp;&nbsp;Home
        </a>
    </div>
</footer>

@section Scripts {
    @Scripts.Render("~/bundles/descargaExportacao")

}

