@model Band.Coletor.Redex.Site.Models.MovimentacaoConteinerViewModel

@{
    ViewBag.Title = "Movimentação de Contêiner";
  
}

@using (Ajax.BeginForm("Registrar", "PreRegistro", new AjaxOptions
{
    OnSuccess = "MensagemSucessoRedirecionar",
    OnFailure = "mensagemCadastroErro",
    HttpMethod = "POST"
}, new { id = "frmPreRegistro" }))
{
    <div class="campos-pesquisa">
        <div class="row consultar-protocolo">
            <div class="form-group col-6 col-sm-6 col-md-6 pr-1">
                @Html.LabelFor(model => model.Conteiner)
                @Html.EditorFor(m => m.Conteiner, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group col-6 col-sm-6 col-md-6 pl-1">
                    <button id="btnFiltrar" type="button" class="btn btn-secondary btn-block" onclick="Filtrar()">Filtrar</button>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="form-group col-sm-3 pr-1">
                @Html.LabelFor(model => model.Tamanho)
                @Html.EditorFor(m => m.Tamanho, new { htmlAttributes = new { @class = "form-control placa" } })
            </div>
            <div class="form-group col-sm-3 ">
                @Html.LabelFor(model => model.Tipo)
                @Html.EditorFor(m => m.Tipo, new { htmlAttributes = new { @class = "form-control placa" } })
            </div>
            <div class="form-group col-sm-3 ">
                @Html.LabelFor(model => model.EF)
                @Html.EditorFor(m => m.EF, new { htmlAttributes = new { @class = "form-control placa" } })
            </div>
            <div class="form-group col-sm-3 ">
                @Html.LabelFor(model => model.GWT)
                @Html.EditorFor(m => m.GWT, new { htmlAttributes = new { @class = "form-control placa" } })
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group col-sm-3 ">
                    @Html.LabelFor(model => model.Temperatura)
                    @Html.EditorFor(m => m.Temperatura, new { htmlAttributes = new { @class = "form-control placa" } })
                </div>
            </div>
            <div class="form-group col-sm-3 ">
                @Html.LabelFor(model => model.Entrada)
                @Html.EditorFor(m => m.Entrada, new { htmlAttributes = new { @class = "form-control placa" } })
            </div>
            <div class="form-group col-sm-3 ">
                @Html.LabelFor(model => model.Navio)
                @Html.EditorFor(m => m.Navio, new { htmlAttributes = new { @class = "form-control placa" } })
            </div>

            <div class="form-group col-sm-3 ">
                @Html.LabelFor(model => model.Posicionar)
                @Html.EditorFor(m => m.Posicionar, new { htmlAttributes = new { @class = "form-control placa" } })
            </div>

            <div class="form-group col-sm-3 ">
                @Html.LabelFor(model => model.LocalAtracacao)
                @Html.EditorFor(m => m.LocalAtracacao, new { htmlAttributes = new { @class = "form-control placa" } })
            </div>


            <div class="form-group col-sm-3 ">
                @Html.LabelFor(model => model.Regime)
                @Html.EditorFor(m => m.Regime, new { htmlAttributes = new { @class = "form-control placa" } })
            </div>


            <div class="form-group col-sm-3 ">
                @Html.LabelFor(model => model.Posicionar)
                @Html.EditorFor(m => m.Posicionar, new { htmlAttributes = new { @class = "form-control placa" } })
            </div>

            <div class="form-group col-sm-3 ">
                @Html.LabelFor(model => model.Local)
                @Html.EditorFor(m => m.Local, new { htmlAttributes = new { @class = "form-control placa" } })
            </div>

            <div class="form-group col-sm-3 ">
                @Html.LabelFor(model => model.Posicionar)
                @Html.EditorFor(m => m.Posicionar, new { htmlAttributes = new { @class = "form-control placa" } })
            </div>

       

        </div>

        <div class="row no-gutters linha-btn-pesquisar-placas">
            <div class="form-group col-12 col-sm-12 col-md-12 ">
                <label for="btnPesquisarTalie">&nbsp;</label>
                <a id="btnPesquisarPlacas" href="#" class="btn btn-outline-info btn-block btn-as-block" onclick="ObterDadosAgendamento()"><i class="fas fa-search"></i></a>
            </div>
        </div>
    </div>

    <div class="campos-resultado-pesquisa ">




        <div id="linha-botao-salvar " class="row mt-3">
            <div class="form-group col-12 col-sm-12 col-md-12 ">
                <button type="submit" class="btn btn-primary btn-block dados-agendamento invisivel">Registrar</button>
            </div>
        </div>
        <div id="linha-botao-salvar-sem-agendamento" class=" linha-botao-salvar-sem-agendamento row mt-3 invisivel">
            <div class="form-group col-12 col-sm-12 col-md-12 ">
                <button id="btConfirmarEntradaSemAgendamento" onclick="ConfirmarEntradaSemAgendamento()" style="white-space: normal;" class="btn btn-warning btn-block"><i class="fas fa-save"></i>&nbsp;Confirmar registro sem agendamento</button>

            </div>
        </div>
        <div class="row no-gutters btn-limpar mt-3 invisivel">
            <div class="form-group col-12 col-sm-12 col-md-12 ">
                <button id="btnLimpar" type="button" class="btn btn-secondary btn-block" onclick="Limpar()">Limpar</button>
            </div>
        </div>
    </div>

}

@section Scripts{

    <script>
        $(document).ready(function(){

            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "positionClass": "toast-top-left"
            }
        });

        $('#ProtocoloPesquisa').keyup(function(){
            //console.log($('#ProtocoloPesquisa').val());
            //$('#ProtocoloPesquisa').addLeadingZeros(8);

            var str = (parseInt($('#ProtocoloPesquisa').val()) || 0).toString();
            var pad = '00000000';
            var ans = pad.substring(0, pad.length - str.length) + str
            $('#ProtocoloPesquisa').val(ans);
                });

        $.fn.addLeadingZeros = function (length) {
              for(var el of this){
                _value = el.value.replace(/^0+/,'');
                length = length - _value.length;
                if(length > 0){
                  while (length--) _value = '0' + _value;
                }
                el.value = _value;
              }
                };

                function exibirCampos(e) {

                    if (e.value === 'Protocolo') {
                        $('.consultar-protocolo').removeClass('invisivel');
                        $('.consultar-placas').addClass('invisivel');
                    } else {
                        $('.consultar-placas').removeClass('invisivel');
                        $('.consultar-protocolo').addClass('invisivel');
                    }

                }

         function ObterDadosAgendamento() {

             event.preventDefault();
             var protocolo = $('#ProtocoloPesquisa').val();
             var anoProtocolo = $('#anoProtocoloPesquisa').val();
             var placa = $('#PlacaPesquisa').val();
             var placaCarreta = $('#PlacaCarretaPesquisa').val();

            if (protocolo === '' && placa === '' && placaCarreta === '') {

                toastr.error('Informe o protocolo ou as placas', 'Coletor').css("width","90%");;
                return;
             }

             //if ( protocolo !== '' && anoProtocolo === '') {

             //   toastr.error('Informe a Placa Carreta', 'Coletor');
             //   return;
             //}

             //if ( protocolo === '' && placaCarreta !== '') {

             //   toastr.error('Informe o Protocolo', 'Coletor');
             //   return;
             //}

             if ( placa !== '' && placaCarreta === '') {

                toastr.error('Informe a Placa Carreta', 'Coletor').css("width","90%");;
                return;
             }

             if ( placa === '' && placaCarreta !== '') {

                toastr.error('Informe a Placa', 'Coletor').css("width","90%");;
                return;
            }

            $('#btnPesquisarPlacas')
                .html('<i class="fa fa-spinner fa-spin"></i>')
                .addClass('disabled');

                $.get(urlBase + 'PreRegistro/ObterDadosAgendamento?protocolo=' + protocolo + '&ano='+anoProtocolo + '&placa='+placa + '&placaCarreta='+placaCarreta, function (resultado) {

                    if (resultado) {

                        $('#Protocolo').empty().val(resultado.Protocolo);
                        $('#Placa').empty().val(resultado.Placa);
                        $('#PlacaCarreta').empty().val(resultado.PlacaCarreta);
                        $('#Periodo').empty().val(resultado.Periodo);
                        $('#Motorista').empty().val(resultado.Motorista);
                        $('#CNH').empty().val(resultado.CNH);
                        $('.dados-agendamento').removeClass('invisivel');
                        alterarVisibilidadeResultado();

                    }
                }).fail(function (data) {
                    toastr.error(data.responseText, 'Coletor').css("width", "90%");
                    alterarVisibilidadeEntradaSemAgendamento();


                }).always(function () {

                    $('#btnPesquisarPlacas')
                        .html('<i class="fas fa-search"></i>')
                        .removeClass('disabled');
                });

            }

           function ConfirmarEntradaSemAgendamento() {

             event.preventDefault();

             var cavalo = $('#PlacaPesquisa').val();
             var carreta = $('#PlacaCarretaPesquisa').val();

            if (cavalo === '' && carreta === '') {

                toastr.error('Informe o as placas', 'Coletor').css("width","90%");;
                return;
             }

             if ( cavalo !== '' && carreta === '') {

                toastr.error('Informe a Placa Carreta', 'Coletor').css("width","90%");;
                return;
             }

             if ( cavalo === '' && carreta !== '') {

                toastr.error('Informe a Placa', 'Coletor').css("width","90%");;
                return;
            }


            $('#btConfirmarEntradaSemAgendamento')
                .html('<i class="fa fa-spinner fa-spin"></i>')
                   .addClass('disabled');

               $.post('@Url.Action("ConfirmarEntradaSemAgendamento")', { placaCavalo: cavalo, placaCarreta: carreta   })
                   .done(function (data, statusText, xhr) {
                    MensagemSucessoRedirecionar();

                }).fail(function (data) {
                    if (data.responseText != null) {
                        toastr.error(data.responseText, 'Coletor');
                    } else {
                        toastr.error('Falha ao registrar caminhão', 'Coletor');
                    }
                }).always(function () {


                });

    }


        var MensagemSucessoRedirecionar = function () {
            setTimeout(function () {
                toastr.success('Caminhão registrado com sucesso!', 'Coletor').css("width","90%");
                  }, 1500);
            setTimeout(function () {
                window.location.href = '@Url.Action("Cadastrar", "PreRegistro")';

            }, 4000);

        };

        function Limpar() {

            $('.campos-pesquisa').removeClass('invisivel');
            $('.campos-resultado-pesquisa').addClass('invisivel');
            $('.btn-limpar').addClass('invisivel');
            $('.linha-botao-salvar-sem-agendamento').addClass('invisivel');
            $('.linha-btn-pesquisar-placas').removeClass('invisivel');

            $('#ProtocoloPesquisa').val('');
            $('#PlacaPesquisa').val('');
             $('.PlacaCarretapesquisa').val('');

        }

        function alterarVisibilidadeResultado() {

            $('.campos-pesquisa').addClass('invisivel');
            $('.campos-resultado-pesquisa').removeClass('invisivel');
            $('.btn-limpar').removeClass('invisivel');


        }

        function alterarVisibilidadeEntradaSemAgendamento() {
             $('.linha-btn-pesquisar-placas').addClass('invisivel');
             $('.btn-limpar').removeClass('invisivel');
             $('.linha-botao-salvar-sem-agendamento').removeClass('invisivel');
        }
    </script>
}