@using Band.Coletor.Redex.Site.Helpers

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Band :: Coletor</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css">

    @Styles.Render("~/bundles/css")
    @RenderSection("Css", required: false)
</head>

<body>
    <div style="width:100%; height:100%; position:absolute; background-color: #fff; z-index: 9999; opacity:0.8; display:none" id="preloader">
        <div class="loader"></div>
        <div id="txt-loading-page">Aguarde...</div>
    </div>
    @Html.Partial("_Menu")

    <main role="main" class="container mt-2">
        @RenderBody()
    </main>

    <script>
        var urlBase = '@Url.Content("~")';
    </script>

    <!-- jQuery deve vir antes de qualquer dependência -->
    @Scripts.Render("~/bundles/jquery")

    <!-- Scripts relacionados ao site -->
    @Scripts.Render("~/bundles/jquery-mask")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/site")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/moment")

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            // Configuração de DataTables com tradução
            $('#exampleTable').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                info: true,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.13.6/i18n/Portuguese-Brasil.json"
                }
            });

            // Controle do preloader
            $('#preloader').show();
            setTimeout(function () {
                $('#preloader').hide();
            }, 500);
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
